* {
  font-family: fira code;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #ff0707;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0);
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.timer {
  font-size: 3em;
  margin-bottom: 20px;
}

.buttons button {
  font-size: 1em;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

div {
  color: black;
}

.buttons button:hover {
  background-color: #45a049;
}

.buttons button:active {
  background-color: #3f8c42;
}